@import "normalize";
@import "modern-business";


* {
  box-sizing: border-box;
}

@import "navbar";

body {
  h1 {
    color: white;
  }
}


.container {
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
.row {
  clear: both;
}

@for $i from 1 through 12 {
  .col-lg-#{$i} { width: percentage($i/12); float:left}
}
